<div id="div1">
    <h1>Log In</h1>
    <form id="login" name="login" method="POST" action="/users/login">
    <div id="div2">
        <div>
        <label for="name">Username: </label>
        <input type="text" name="username" required>
    </div>
    <div>
        <label for="name">Password: </label>
        <input type="password" name="password" required>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
    </div>
    </form>
</div>